.image img{
    width: 400px;
    height: 300px;
}
.publisher-dtl{
    font-size: 12px;
    font-weight: 400;
}
.favorite-btn{
    background-color: rgb(21, 50, 50);
    color:aliceblue;
    border: none;
    width: 140px;
    padding: 10px;
    font-size: 14px;
    margin-top: 30px
}
.container-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.ingredients{
    
    font-size: 20px;
    font-weight: 500;
}
.list-details{
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
    color:rgb(21, 50, 50);
    margin-top: 30px;
}
.fav{
    position: absolute;
    top: 7%;
    left: 94.2%;
    background-color:rgb(21, 50, 50);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: aliceblue;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}