.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    color: black
}
.logo-text{
    color:rgb(76, 26, 26);
    text-decoration: none;

}
.list{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}
.list li{
    list-style: none;
    color: black;
}
.li{
    text-decoration: none ;
    color:rgb(76, 26, 26)
}
.search{
    width: 300px;
    height: 26px;
    font-size: 16px;
    color:rgb(76, 26, 26);
    border: 2px solid rgb(76, 26, 26);
    outline: none;
    padding: 4px;    
}